<div id="container">
  <mat-card id="mdCard">
    <mat-card-header>
      <mat-card-title>Package Reception</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="example-form">
      <div class="example-container">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Customer" [(ngModel)]="model.customer" autocomplete="off" name="customer" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Description" [(ngModel)]="model.description" autocomplete="off" name="description" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Amount" [(ngModel)]="model.amount" autocomplete="off" name="amount" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Location" [(ngModel)]="model.location" autocomplete="off" name="location" required>
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Destination" [(ngModel)]="model.destination" autocomplete="off" name="destination" required>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Truck" [(ngModel)]="truck" name="truck">
              <mat-option *ngFor="let truck of trucks" [value]="truck">
                {{truck.truckRegistration}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </form>
    </mat-card-content>
      <button class="buttonColor" mat-button (click)="save()">Save</button>
      <mat-spinner diameter="40" *ngIf="activate"></mat-spinner>
  </mat-card>
</div>
